// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$pittGold: #CDCD9A;
$pittBlue: #000066;

$navbarBackground: $pittBlue;
$navbarBackgroundHighlight: $pittBlue;

$navbarLinkColor: $pittGold;

@import 'bootstrap';

h1, h2, h3, h4, h5 {
  color: $pittBlue;
}

.navbar-inner {
  @include border-radius(0);
}

#pitt {
  margin: { bottom: 0 }

  .brand {
    color: $pittGold;
    font-weight: bold;
  }

  .divider-vertical {
    background: { color: $pittGold; }
    border: { right: { color: $pittGold; } }
  }

  ul {
    padding: { top: 12.5px; }
  }
}

#header-image {

  position: relative;

  img {
    width: 100%;
  }

  i { 
    position: absolute;
    top: 50px;
    right: 0px;
    width: 400px;

    font-size: 120%;
    color: $pittBlue;
  }
}

#crr-nav {

  .navbar-inner {
    filter: none;
    background: $pittGold;
    background: { image: none; }
  }

  ul.nav { 
    width: 100%;
    li {
      width: 18%;
      a {
        text-align: center;
        color: $pittBlue;
        font-size: 120%;
        font-weight: bold;
      }
    }

    .divider-vertical {
      width: 0;
      background: { color: white; }
      border: { right: { color: white; } }
    }

    .dropdown-menu {
      background: { color: $pittGold; }
      li {
        text-align: center;
        color: black;
        width: 100%;

        a:hover {
          background-color: inherit;
        }
      }
    }
  }
}


// Body
#left, #right {
  min-height: 10*40px;
}

#carousel {
  img {
    height: 300px;
    width: 300px;
  }
}

#pitt-body-logo {
  background: $pittGold;
  img {
    @include center-block();
  }
}

// Footer

#footer {
  color: white;
  background: $pittBlue;
  text: { align: center; }
  p {
    padding: { top: 10px; bottom: 10px; }
    color: $pittGold;
  }
}
